.top-box {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}

.bottom-box {
    border: 2px solid red;
    padding: 10px;
    margin: 20px;
}

.center {
    text-align: center;
}

ul {
    display: block;
}

.spacing {
    padding: 1em;
}

.shift-left {
    margin-left: 20px;
}